@model Category
@{
	ViewData["Title"] = "CategoryDetails";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
			AlHerseyContext context = new AlHerseyContext();;
}

<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box yellow">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-cogs"></i>All in One Bootstrap 3.0 Responsive Table
		</div>
		
	</div>
	<div class="portlet-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model=>model.CategoryID)
						</th>
						<td>
							@Html.DisplayFor(model=>model.CategoryID)
						</td>
					</tr>

					<tr>
						<th>
							@Html.DisplayNameFor(model=>model.CategoryName)
						</th>
						<td>
							@Html.DisplayFor(model=>model.CategoryName)
						</td>
					</tr>

					<tr>
						<th>
							@Html.DisplayNameFor(model=>model.ParentID)
						</th>
						<td>
							@{
								if (Model.ParentID > 0)
								{
									string? CategoryName = context.Categories.FirstOrDefault(c => c.CategoryID == Model.ParentID).CategoryName;
									@CategoryName
								}
								else
								{
									<label style="background-color:red;color:white;">Ana Kategori</label>
								}
							}
						</td>
					</tr>

					<tr>
						<th>
							@Html.DisplayNameFor(model=>model.Active)
						</th>
						<td>
							@Html.DisplayFor(model=>model.Active)
						</td>
					</tr>


				</thead>
				
			</table>
		</div>
	</div>
</div>
<!-- END SAMPLE TABLE PORTLET-->

