@model IEnumerable<Setting>
@{
    ViewData["Title"] = "SettingIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row" style="margin-top:50px;">

    <div class="col-md-2"></div>

    <div class="col-md-8">

       
        <br />
        <br />
        <!-- BEGIN CONDENSED TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture"></i>AYAR LİSTESİ
                </div>
               
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SettingID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MainPageCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubPageCount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.SettingID
                                    </td>
                                    <td>
                                        @item.Telephone
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.MainPageCount
                                    </td>
                                    <td>
                                        @item.SubPageCount
                                    </td>
                                    


                                    <td>
                                        <a asp-action="SettingEdit" asp-route-id="@item.SettingID" asp-controller="Admin" class="btn btn-primary">DÜZELT</a>
                                    </td>

                                    
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END CONDENSED TABLE PORTLET-->
    </div>
</div>


