@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "SupplierIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row" style="margin-top:50px;">

    <div class="col-md-2"></div>

    <div class="col-md-8">

        <a asp-action="SupplierCreate" asp-controller="Admin" class="btn btn-success">YENİ MARKA EKLE</a>
        <br />
        <br />
        <!-- BEGIN CONDENSED TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture"></i>MARKA LİSTESİ
                </div>
              
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplierID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BrandName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th>
                                  
                                    @Html.DisplayNameFor(model => model.PhotoPath)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.SupplierID
                                    </td>
                                    <td>
                                        @item.BrandName
                                    </td>
                                    <td>
                                        @if (@item.Active == true)
                                        {
                                            <label>AKTİF</label>
                                        }
                                        else
                                        {
                                            <label>PASİF</label>
                                        }

                                    </td>
                                    <td>
                                        <img src="~/img/resimler/@item.PhotoPath" style="width:100px; height:40px;"/>
                                    </td>

                                    <td>
                                        <a asp-action="SupplierEdit" asp-route-id="@item.SupplierID" asp-controller="Admin" class="btn btn-primary">DÜZELT</a>
                                    </td>

                                    <td>
                                        <a asp-action="SupplierDetails" asp-route-id="@item.SupplierID" asp-controller="Admin" class="btn btn-info">DETAY</a>
                                    </td>

                                    <td>
                                        <a asp-action="SupplierDelete" asp-route-id="@item.SupplierID" asp-controller="Admin" class="btn btn-danger">SİL</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END CONDENSED TABLE PORTLET-->
    </div>
</div>

